html {
	--regular: 14px;
	--white: #fff;
	--whitesmoke: #f0f0f0;
	--gainsboro: #e0e0e0;
	--gray: #808080;
	--black: #000;
}

@media (prefers-color-scheme: dark) {
	html {
		--white: #000;
		--whitesmoke: #202020;
		--gainsboro: #303030;
		--black: #fff;
	}
}

* { margin: 0; padding: 0; }

body {
	background-color: var(--gainsboro);
	color: var(--black);
	font-family: "Intel One Mono", monospace;
	font-size: var(--regular);
	line-height: 24px;
}

a { text-decoration: none; }

.container {
	display: grid;
	grid-template-columns: 50% 50%;
	height: 100dvh;
}

.left, .right { padding: 10px 0; height: calc(100% - 20px); }
.left { background-color: var(--white); }
.right { background-color: var(--whitesmoke); }

textarea {
	background-color: var(--white);;
	border: 0 none;
	color: var(--black);
	font-family: "Intel One Mono", monospace;
	font-size: var(--regular);
	line-height: 25px;
	overflow: hidden;
	padding: 0 15px;
	resize: none;
	width: calc(100% - 30px);
}

textarea:focus { outline: 0 none; }

/* In React, we'll map p tags directly, so this selector stays valid */
#response p {
	border-bottom: var(--gainsboro) 1px solid;
	overflow: hidden;
	padding: 0 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#response p:last-child { border-bottom: 0 none; }

.help {
	bottom: 10px;
	position: absolute;
	right: 15px;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
}

.help a {
	background-color: var(--black);
	border-radius: 10px;
	color: var(--white);
	display: block;
	height: 20px;
	text-align: center;
	width: 20px;
}

@font-face {
	font-family: "Intel One Mono";
	font-style: normal;
	font-weight: normal;
	/* Changed relative path to absolute path for Vite public dir */
	src: url(/static/intelone/regular.woff2) format("woff2");
}
